body {
  background-color: #000;
}

#landing-header {
  padding-top: 40vh;
  position: relative;
  text-align: center;
  /* forward and backward */
  z-index: 1;
}

#landing-title {
  font-family: 'Raleway', sans-serif; 
  font-size: 50px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-weight: 200;
}

#landing-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: italic;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-weight: 100;
}

#landing-header h1 {
  color: #fff;
  margin: 0.5em auto;
}

.entryLink {
  color: #fff;
  opacity: 1;
}

.entryLink:hover {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.entryLink:focus {
  color: #fff;
  opacity: 0.8;
  outline: 0;
  text-decoration: none;
}

.entryLink:visited {
  color: #fff;
  opacity: 1;
  text-decoration: none;
}

/* background slide show */
.slideshow { 
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

.slideshow li { 
  animation: imageAnimation 50s linear 2.5s infinite; 
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(1);
  width: 100%;
  z-index: 0;
}

.slideshow li:nth-child(1) { 
  background-image: url(https://res.cloudinary.com/parkreviewcloud/image/upload/v1556944754/181003_maplepass_05_ibfxex.jpg); 
  animation-delay: 0s; 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://res.cloudinary.com/parkreviewcloud/image/upload/v1556944751/FairmountPark-R-Kennedy-2200VP_mmtfax.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://res.cloudinary.com/parkreviewcloud/image/upload/v1556944706/VisitMacon_AmersonRiverPark_0211_A80U8525_JackGoras-1--bd563f075056a36_bd564050-5056-a36a-0a7ee1df00f4884c_bsdiiz.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) { 
  background-image: url(https://res.cloudinary.com/parkreviewcloud/image/upload/v1556944693/national-parks_wuqwop.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://res.cloudinary.com/parkreviewcloud/image/upload/v1556944749/yosemite_k9rw85.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0%, 40% { 
    animation-timing-function: ease-in;
    opacity: 0; 
    transform: scale(1);
  }
  10% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: scale(1.1);
  }
  20% {
    opacity: 1;
    transform: scale(1.2);
  }
  30% {
    opacity: 0;
    transform: scale(1.2);
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
